#Frontend library
streamlit
#Utilities
numpy
pandas
scikit-learn
#Face Recognition
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

#Images pre-processing
pillow

#Qr generation
segno

#Database
supabase
#Hashing
bcrypt

#Voice Recognition
librosa #deal with audio files like edit,load
resemblyzer #make audio embeddings foused python 3.10.0